/*Importing Google Fonts */

:root {
    /* Colors */
    --main-heading-color: #e0e1dd; 
    --main-text-color: #6c757d; 
    --background-color: #0d1b2a;
    --secondary-background-color: #1b263b; 
    --accent-color: #415a77; 
    --button-text-color: #ffffff; 
    --card-border-color: #778da9; 

    /* Fonts */
    --primary-font: 'IBM Plex Sans', sans-serif; 
    --heading-font-weight: 700; 
    --text-font-weight: 400; 

    /* Spacing */
    --section-padding: 3rem; 
    --button-padding: 0.5rem 1.5rem; 
}
/* Body */
body {
    background-color: var(--background-color)
}